.navbar {
    text-align: center;
}

h1 {
    text-align: center;
}

.navbar ul {
    list-style-type: none;
    display: inline-block;
}

.navbar li {
    float: left;
}

.navbar a {
    text-decoration: none;
    position: relative;
    font-weight: bold;
    padding: 15px 20px;
    margin: 0 5px;
    border-radius: 1px;
    border-right: 1px solid black;
}

.img-container img {
    width: 100%;
    height: 90%;
    object-fit: cover;
    position: absolute;
}

.img-credit {
    color: grey;
    z-index: 1;
    position: absolute;
    bottom: 0;
}

#browse p {
    text-align: center;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

th,
td {
    border: 1px solid black;
    padding: 10px;
}

form {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="number"],
textarea,
select {
    width: 20%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Style buttons */
input[type="submit"],
input[type="button"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

.btn-cancel {
    background-color: red !important;
    color: white; 

}

input[type="submit"]:hover,
input[type="button"]:hover {
    background-color: #0056b3;
}

/* Style error messages */
.error-message {
    color: red;
    font-size: 14px;
}

/* Improve readability */
legend {
    font-size: 20px;
    font-weight: bold;
}

/* Visual feedback for user actions */
input[type="submit"]:focus,
input[type="button"]:focus {
    outline: none;
    box-shadow: 0 0 5px #007bff;
}