<!DOCTYPE html>
<html>

<head>
    <title>Dragons Database</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <style>
        html,
        body {
            margin: 0;
            padding: 0;
            overflow: hidden;
            height: 100%;
            width: 100%;
        }
    </style>
</head>

<body>

    <h1>
        Dragon's Hoard
    </h1>

    <p class="index-desc">
        A database dedicated to Dragons
    </p>

    <nav class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="abilities">Abilities</a></li>
            <li><a href="environments">Environments</a></li>
            <li><a href="types">Types</a></li>
            <li><a href="dragons">Dragons</a></li>
        </ul>
    </nav>

    <div class="img-container">
        <img src="/img/purple-dragon.webp" alt="dragon" aria-hidden="true" style="width: 1024px; height: 1024px;"
            decoding="async">
    </div>

</body>

</html>